<dp-content-detail title="USUARIO ({{user?.id}})">
    <div class="title">
        Detalle
        <button nbButton (click)="edit()">
            Editar
        </button>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-4">
                <div class="item">
                    <p>Email</p>
                    <p>{{user?.email}}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <p>Nombre</p>
                    <p>{{user?.displayName}}</p>
                </div>
            </div>
        </div>
    </div>
    <nb-tabset>
        <nb-tab tabTitle="Roles">
            <dp-table [tableDef]="tableDef" linkColumn="displayName" (onEdit)="editRole($event)">
            </dp-table>
            {{user?.role}}
        </nb-tab>
        <nb-tab tabTitle="Grupos">
            {{user?.role}}
        </nb-tab>
        <nb-tab tabTitle="Permisos">
            {{user?.role}}
        </nb-tab>
        <nb-tab tabTitle="Utl. Acceso">
            {{user?.role}}
        </nb-tab>
    </nb-tabset>
</dp-content-detail>